# Ignore Terraform variable files containing secrets
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Ignore Terraform working directory and lock files
.terraform/
*.tfstate.backup
.terraform.lock.hcl


# Ignore Python virtual environments
venv/
__pycache__/

# Ignore other sensitive files
.env
